/*body element*/
body{
  background-image: url("./body-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
/*navbar*/
.navbar{
  position: relative;
  background-color: aqua;
}
.navbar .myphoto img{
  width: 50px;
  height: 50px;
}
.navbar p{
  position: absolute;
  top: 25%;
  left: 30%;
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*Rows and columns*/
.row{
  margin-bottom: 10px;
  margin-top: 10px;
}
.row h2{
  text-align: center;
}
.col-md-6{
  border: 3px solid gainsboro;
}
.row h3{
  text-align: center;
  margin-top: 50px;
}
.col-md-4{
  border: 2px solid gainsboro;
  padding-left: 20px;
}
.ali-image img{
  width: 100%;
  height: 500px;
}
/*Links section*/
.col-md-4 h4 a{
  text-decoration: none;
}
.col-md-4 h4 a:hover{
  background-color: green;
}
#background p a{
  text-decoration: none;
}
#background p a:hover{
  background: chartreuse;
}